
/**/
/*=============================*/
/*=====       SERVICES     ====*/
/*=============================*/
/**/

.services {
    .btn_blue { margin-bottom: 10px;}
    .wr-bred { margin-bottom: 60px;}
    .block_content_left h3 + a {
        margin-top: 15px;
    }
}

.banner_services {
    background: #dee3e7;
    .img {
        background: #dee3e7;
    }
}

.mar-bot_0 { margin-bottom: 0;}
.mar-bot_30 { margin-bottom: 30px;}

ul.disk {
    margin-bottom: 55px;
    li {
        position: relative;
        padding-left: 30px;
        line-height: 26px;
        margin-bottom: 25px;
        &:before {
            position: absolute;
            top: 11px;
            left: 0;
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $blue;
        }
    }
    span {
        font-family: $rcb;
    }
}

.gallery_double {
    .gallery-item {
        float: left;
        width: 47.8%;
        margin: 0 0 30px 0;
        &:nth-child(even) { float: right;}
    }
}